/*Index.html:------------------------*/

body {
    margin: 0px;
    border: 0px;
}


.container-fluid {
    background-color: #1f1f2e;
   

}

.hover :hover .overlay {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.5);
}

.text-block {
    position: absolute;
    bottom: 200px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .text-block {
        position:absolute;
        bottom:100px;
    }
    
}


/*hides some of the images on small screen*/
@media screen and (max-width: 600px) {
.contact-us,    .hide {
        display: none;
    }
    .text-block {
        position:absolute;
        bottom:700px;
    }
}

/*Most at Risk*----------------------------------*/

.navbar-brand {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
}


h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 0px;
    color:white;
    text-align: center;
}


img {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin: 0px;
    position: relative;
}


.navbar-brand {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}




#footer {
    color:#ff6600;
    display: inline;
    text-align: center;
}


 .list-inline{

    list-style: none;
    display: inline;
    font-size: 1.5rem;
    margin-right: 10px;
    color:#ff6600
}







.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}



@media screen and (max-width: 1100px) {
    
    .hover{
  position: relative;
  
}
    .footer{
    position: absolute;
    bottom: 0;
    color: white;
} 
}

    

    .overlay{
       
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.hover:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
    

p, ul{
   
    color:white;
    font-size:20px;
    padding-top:15px;
}

b{
    color:#ff6600;
    font-size: 25px;
}

hr{
    border-color: white;
    height:5px;
    width: 75%;
}

/*CONTACT US---------------------------*/

.contact{
    background-color: white;
}

#line, .contact-us{
    color:#33334d;
    border-color: #33334d;
}

.img-circle {
    border-radius: 50%;
    padding-bottom: 0px;
    margin-left: 50px;
    border-color: white;
    border:5px solid white;
    margin-top: 10px;
    max-width: 175px;
    max-height: 200px;
}

h2 {
    color:white;
    font-size: 1.5rem;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    
}


#form{
    width:100%;
    padding-top: 10px;
    text-align: center;
    /*background-color: #f0f0f5;*/
    margin:auto;     /*to center-align my form*/
    }

.form-control, .form-group{
    padding: 12px 20px;
    background-color: #f0f0f5;
    border: 2px solid orange;
}

#inputText{
    padding: 50px 20px;
}


@media screen and (max-width: 600px) {
    #intro, #form{
    width: 100%;
    margin-top: 0;
    }
}  /* form will fill screen at less than 600px*/

 .contact-list{
    color:#33334d;
    list-style-type: none;
    
}
#footer2, footer{
   
    text-align:center;
}

.btn, .btn-dark{
    color:black;
}

/*save the species.........................*/

.card-text{
    color: #33334d;
    text-align : center;
}
h5{
    text-align: center;
}




#save{
    text-align: center
    
}

.card-img-top{
    width:100%;
    height:272.25px;
}

.card{
    margin-bottom: 20px;
}

/*popup*/


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


 

/*modal.........................*/

.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
    
/*tooltip..........................*/

/* Tooltip container */
.list-inline {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.list-inline .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
 
}

/* Show the tooltip text when you mouse over the tooltip container */
.list-inline:hover .tooltiptext {
  visibility: visible;
}